.contenedorEnviado{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 30px;
}

.contenedorMensaje{
    grid-column: 4/13;
    grid-row: 9/16;
    margin-left: 20px;
    background-color: rgba(232, 246, 255, 0.849);
    width: 60%;
    height: 100%;
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1;
    grid-auto-rows: 30px;
   
}
.enviado{
    grid-column: 1;
    grid-row: 2/3;
    
    
}

.opcionesEnviado{
    grid-column: 1;
    grid-row: 4/6;
    
}

.imgEnviado{
    z-index: -1;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:fixed;
    top: 0
}