*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorGrid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 30px;
}

.contenedor{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start:4 ;
    grid-row-end: 40;
    
    display:flex;  
    
    gap: 10px;
   
    flex-wrap: wrap;
    justify-content: space-around;    
    
     
}

.contenedorPais{
    border: solid 1px;
    height: 20%;
    width: 20%;
}

.imagen{
    
    object-fit:contain;
    height: 70%;
    width: 90%;
    border-radius: 20px;
    border: solid 1px;
    
}

/* .nav{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: ;
} */