.contenedorPaisId{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(26,30px);

    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    
    background-color: rgba(240, 255, 255, 0.568);
    height: 100%;
    width: 100%;
}

.imgFondoPais{
    z-index: -1;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:fixed;
    top: 0
}

#nombrePais{
    grid-column: 1/13;
    grid-row: 2/3;
}
.imgPais{
    grid-column: 3/11;
    grid-row: 4/14;
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

.containerCountry{
    grid-column: 1/13;
    grid-row: 15/20;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30px;
    align-items: center;
    
    gap: 30px;
    
}

.containerActivities{
    grid-column: 1/13;
    grid-row: 21;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30px;
    
}

#act{
    grid-column: 1/4;
    grid-row:1 ;
}

#containerSelectionAct{
    grid-column: 2;
    align-self: center;
}

#containerEspecifications{
    grid-column: 1/4;
    grid-row: 3/4;

}

#especifications{
    
    display: inline-flex;
    justify-content: space-around;
    width: 60%;
    
}


